<button class="btn btn-danger" style="margin: 10% 30%;">Car not found, please click button bellow to input again or create new !</button>

<div class="d-flex" style="flex-direction: row; text-align: center; justify-content: center;">
    <a class="btn btn-success" href="/" style="border: none; text-decoration: none; margin:2%">Try Again</a>
    <a class="btn btn-success" href="/add" style="border: none; text-decoration: none; margin:2%">Create New</a>
</div>